# Import

In [44]:
import pandas as pd
import datetime
import fastparquet

# Uploaded "flights.csv", applied a filter (date from April 2020 till now), created new dataframe with the filter

In [45]:
df_flights = pd.read_csv("flights.csv")

condition_date = datetime.datetime(2020, 4, 1)
current_date = datetime.datetime.today()

df_flights["date"] = pd.to_datetime(df_flights["date"])
mask = (df_flights["date"] >= condition_date) & (df_flights["date"] <= current_date)
new_df_flights = df_flights.loc[mask]

new_df_flights

,travelCode,userCode,from,to,flightType,price,time,distance,agency,date
54,27,0,Aracaju (SE),Brasilia (DF),firstClass,898.04,1.11,425.98,FlyingDrops,2020-04-02
55,27,0,Brasilia (DF),Aracaju (SE),firstClass,1287.52,1.11,425.98,FlyingDrops,2020-04-06
56,28,0,Aracaju (SE),Natal (RN),premium,427.25,0.46,176.33,Rainbow,2020-04-09
57,28,0,Natal (RN),Aracaju (SE),premium,479.37,0.46,176.33,Rainbow,2020-04-13
58,29,0,Aracaju (SE),Recife (PE),economic,604.14,1.44,555.74,CloudFy,2020-04-16
...,...,...,...,...,...,...,...,...,...,...
271883,135941,1339,Campo Grande (MS),Florianopolis (SC),firstClass,1446.34,1.49,573.81,CloudFy,2020-07-12
271884,135942,1339,Florianopolis (SC),Natal (RN),economic,726.95,1.84,709.37,CloudFy,2020-07-16
271885,135942,1339,Natal (RN),Florianopolis (SC),economic,873.07,1.84,709.37,CloudFy,2020-07-20
271886,135943,1339,Florianopolis (SC),Rio de Janeiro (RJ),economic,313.62,1.21,466.30,CloudFy,2020-07-23
271887,135943,1339,Rio de Janeiro (RJ),Florianopolis (SC),economic,533.69,1.21,466.30,CloudFy,2020-07-26

# Uploaded "users.csv", applied a filter (gender only female and age older than 35 years), created new dataframe with the filter

In [46]:
df_users = pd.read_csv("users.csv")
new_df_users = df_users.loc[(df_users["gender"] == "female") & (df_users["age"] > 35)]

new_df_users

      code        company              name  gender  age
2        2           4You     Wilma Mcinnis  female   48
4        4           4You   Patricia Carson  female   44
11      11           4You  Virginia Roberts  female   61
15      15           4You     Janice Cudney  female   56
16      16           4You      Shane Hubner  female   47
...    ...            ...               ...     ...  ...
1328  1328  Umbrella LTDA      Cheryl Avila  female   51
1332  1332  Umbrella LTDA  Kimberly Jessica  female   37
1334  1334  Umbrella LTDA    Tina Lancaster  female   60
1336  1336  Umbrella LTDA        Kim Shores  female   40
1338  1338  Umbrella LTDA      Viola Agosta  female   52

[306 rows x 5 columns]

# Uploaded "hotels.csv"

In [47]:
df_hotels = pd.read_csv("hotels.csv")

df_hotels

,travelCode,userCode,name,place,days,price,total,date
0,0,0,Hotel A,Florianopolis (SC),4,313.02,1252.08,09/26/2019
1,2,0,Hotel K,Salvador (BH),2,263.41,526.82,10/10/2019
2,7,0,Hotel K,Salvador (BH),3,263.41,790.23,11/14/2019
3,11,0,Hotel K,Salvador (BH),4,263.41,1053.64,12/12/2019
4,13,0,Hotel A,Florianopolis (SC),1,313.02,313.02,12/26/2019
...,...,...,...,...,...,...,...,...
40547,135938,1339,Hotel BP,Brasilia (DF),3,247.62,742.86,06/18/2020
40548,135939,1339,Hotel BP,Brasilia (DF),1,247.62,247.62,06/25/2020
40549,135940,1339,Hotel BW,Campo Grande (MS),3,60.39,181.17,07/02/2020
40550,135941,1339,Hotel BW,Campo Grande (MS),3,60.39,181.17,07/09/2020
40551,135942,1339,Hotel BD,Natal (RN),4,242.88,971.52,07/16/2020

# Joined all dataframes (join rules: "flights" and "users" by userCode, "flights" and "hotels" by travelCode)
**Not sure!**

**Is join correct?**

**merge() or join()? - join() failed yet**

**How? Inner or else?**

In [48]:
joined_flights_hotels = pd.merge(new_df_flights, df_hotels, how = "inner", on = "travelCode")
joined_all_df = pd.merge(new_df_users, joined_flights_hotels, how = "inner", left_on = "code", right_on = "userCode_x")

joined_all_df

,code,company,name_x,gender,age,travelCode,userCode_x,from,to,flightType,...,distance,agency,date_x,userCode_y,name_y,place,days,price_y,total,date_y
0,2,4You,Wilma Mcinnis,female,48,122,2,Aracaju (SE),Florianopolis (SC),premium,...,808.85,CloudFy,2020-04-02,2,Hotel A,Florianopolis (SC),4,313.02,1252.08,04/02/2020
1,2,4You,Wilma Mcinnis,female,48,122,2,Florianopolis (SC),Aracaju (SE),premium,...,808.85,CloudFy,2020-04-06,2,Hotel A,Florianopolis (SC),4,313.02,1252.08,04/02/2020
2,2,4You,Wilma Mcinnis,female,48,124,2,Recife (PE),Aracaju (SE),firstClass,...,555.74,Rainbow,2020-04-16,2,Hotel Z,Aracaju (SE),3,208.04,624.12,04/16/2020
3,2,4You,Wilma Mcinnis,female,48,124,2,Aracaju (SE),Recife (PE),firstClass,...,555.74,Rainbow,2020-04-19,2,Hotel Z,Aracaju (SE),3,208.04,624.12,04/16/2020
4,2,4You,Wilma Mcinnis,female,48,125,2,Recife (PE),Campo Grande (MS),premium,...,535.40,CloudFy,2020-04-23,2,Hotel BW,Campo Grande (MS),2,60.39,120.78,04/23/2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5706,1332,Umbrella LTDA,Kimberly Jessica,female,37,135417,1332,Sao Paulo (SP),Florianopolis (SC),firstClass,...,562.14,CloudFy,2020-11-23,1332,Hotel AF,Sao Paulo (SP),4,139.10,556.40,11/19/2020
5707,1332,Umbrella LTDA,Kimberly Jessica,female,37,135418,1332,Florianopolis (SC),Natal (RN),firstClass,...,709.37,CloudFy,2020-11-26,1332,Hotel BD,Natal (RN),3,242.88,728.64,11/26/2020
5708,1332,Umbrella LTDA,Kimberly Jessica,female,37,135418,1332,Natal (RN),Florianopolis (SC),firstClass,...,709.37,CloudFy,2020-11-29,1332,Hotel BD,Natal (RN),3,242.88,728.64,11/26/2020
5709,1332,Umbrella LTDA,Kimberly Jessica,female,37,135420,1332,Florianopolis (SC),Natal (RN),firstClass,...,709.37,FlyingDrops,2020-12-10,1332,Hotel BD,Natal (RN),3,242.88,728.64,12/10/2020
5710,1332,Umbrella LTDA,Kimberly Jessica,female,37,135420,1332,Natal (RN),Florianopolis (SC),firstClass,...,709.37,FlyingDrops,2020-12-13,1332,Hotel BD,Natal (RN),3,242.88,728.64,12/10/2020

# Saved dataframe at local disk as parquet file (I chose compression "gzip")

In [49]:
joined_all_df.to_parquet("result.parquet", compression='gzip')